html {
    cursor:  url('./assets/cursor.png'), auto;
}

h1 {
    font-family: 'Darumadrop One';
    font-size: 7em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ttlpools {
    margin: auto;
    margin-top: auto;
    width: 50%;
    text-align: center;
}

.circle1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    margin: 20px;
    margin-left: 50%;
    margin-right: auto;
}

.circle1:hover {
    filter:blur(4rem);
    transition: 0.5s ease-in-out;
}

.circle2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    margin: 20px;
    margin-left: 30%;
    margin-right: auto;
}

.circle2:hover {
    filter:blur(2rem);
    transition: 0.5s ease-in-out;
}

.circle3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    margin: 20px;
    margin-left: 70%;
    margin-right: auto;
}

.circle3:hover{
    cursor: pointer;
}